*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    background-color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-outside {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 700px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.container-inner1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 100px 100px 100px 100px;
    border: 5px;
    align-items: start;
    max-width: 600px;
    flex: 1;
}

.container-inner1 h1{
    text-align: left;
    font-size: 2em;
}

.container-inner1 p{
    text-align: justify;
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
}

.baris-button {
    align-items: self-start;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.baris-button p{
    text-align: center; 
    margin-left: 5px;
    justify-content: center;
}

.btn-contact{
    width: 120px;
    height: 50px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    align-items: self-start;
    font-size: 23px;
    padding: 10px 20px;
}

.btn-contact:hover {
    background-color: #444;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 237, 237);
    height: 80px;
    width: 100%;
}

.nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style: none;
    /* gap: 45px; */
    align-items: center;
    /* margin-left: 20px; */
}

.nav li{
    margin-left: 40px;
}

.nav-link {
    font-size: 25px;
    
}

.nav-link a{
    color: black;
    text-decoration: none;
}

.nav-link a:hover {
    color: orangered;
}

.nav-part {
    width: 85%;
}

.bungkus-btn {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: right;

}

.btn-content {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 10px;
    width: 120px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sosmed {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: start;
    gap: 20px;
    margin: 20px 0;
    flex-direction: row;
}

.sosmed a{
    /* margin: 0 20px; */
    text-decoration: none;
}

.sosmed a img{
    width: 50px;
}

.img-profile {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20 px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
-webkit-border-radius: 20 px;
    -moz-border-radius: 20 px;
    -ms-border-radius: 20 px;
    -o-border-radius: 20 px;
    -webkit-border-radius: 20 px;
}

@media (max-width: 768px) {
    .container-outside {
        flex-direction: column;
        align-items: center;
    }

    .container-inner1, .img-profile {
        width: 100%;
        max-width: none;
    }
}

/* Ini responsive Navbar */
#humberger-button {
    display: none;
}

.humberger-nav-container {
    display: none;
}

.humberger-nav-container a {
    color: white;
    border: 2px solid white;
    background-color: rgb(217, 217, 217);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.humberger-nav-container .active {
    background-color: orangered;
}

@media only screen and (max-width: 500px){
    #humberger-button{
        display: block;
    }

    .nav-collapse{
        display: none;
    }

    .humberger-nav-container {
        font-size: 23px;
        display: none;
        flex-direction: column;
    }
}