<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="./assets/css/index.css"> --}}
    <link rel="stylesheet" href="./assets/css/myProject.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img style="height: 40px; margin-left: 10px;" src="https://avatars3.githubusercontent.com/u/34464790?s=220&v=4" href="/">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-4" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-4" aria-current="page" href="/myProject">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" aria-current="page" href="/testimonial">Testimonial</a>
                    </li>
                    
                </ul>
                <div class="btn btn-dark">
                    <a href="/contact" class="link-offset-2 link-underline link-underline-opacity-0 link-light">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="blog d-flex flex-column">
        <div class="blog-form py-5 d-flex justify-content-center" style="background-color: rgb(216, 216, 216);">
            <div class="form-container">
                <form method="post" action="/add_myProject">
                    <h1 class="text-center mb-4">Add My Project</h1>
                    <div class="form-group">
                        <label for="title">Project Name</label>
                        <input type="text" id="inputTitle" class="form-control" name="projectname">
                    </div>
                    <div class="form-row d-flex">
                        <div class="form-group col-md-6 pe-2">
                            <label for="start">Start Date</label>
                            <input type="date" id="inputStart" class="form-control" name="tanggal">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end">End Date</label>
                            <input type="date" id="inputEnd" class="form-control" name="tanggalEnd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="inputDescription" class="form-control" rows="5" name="description"></textarea>
                    </div>

                    <div class="form-coloum">
                        <label for="technologies" class="tech-label d-block">Technologies</label>

                        <div class="form-row d-flex">
                            <div class="form-coloum w-100 ms-2">
                                <div class="form-check d-flex flex-row">
                                    <input class="form-check-input d-flex align-items-center" type="checkbox" id="nodeJs" name="nodeJs" value="NodeJs" style="width: 10%;">
                                    <label class="form-check-label ps-2" for="nodeJs" style="width: 90%;">Node Js</label>
                                </div>

                                <div class="form-check d-flex flex-row">
                                    <input class="form-check-input" type="checkbox" id="reactJs" name="reactJs" value="ReactJs" style="width: 10%;">
                                    <label class="form-check-label ps-2" for="reactJs" style="width: 90%;">React Js</label>
                                </div>
                            </div>
                            <div class="form-coloum w-100 ms-2">
                                <div class="form-check d-flex flex-row">
                                    <input class="form-check-input" type="checkbox" id="nextJs" name="nextJs" value="NextJs" style="width: 10%;">
                                    <label class="form-check-label ps-2" for="nextJs" style="width: 90%;">Next Js</label>
                                </div>

                                <div class="form-check d-flex flex-row">
                                    <input class="form-check-input" type="checkbox" id="typeScript" name="typeScript" value="TypeScript" style="width: 10%;">
                                    <label class="form-check-label ps-2" for="typeScript" style="width: 90%;">TypeScript</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input type="file" class="form-control-file" id="inputImage" name="inputImage">
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="./assets/js/myProject.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>