.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(216, 216, 216);
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container .start-end {
    display: flex;
    flex-direction: row;
}

.blog-form .form-container .start-end .start{
    width: 50%;
    padding-right: 20px;
}

.blog-form .form-container .start-end .end{
    width: 50%;
    padding-left: 20px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label {
    font-size: 20px;
    font-weight: bold;
}

.blog-form form input, textarea, select {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid rgb(202, 202, 205);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.tech-label {
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: bold;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px 40px;
    width: 100%;
}

.container-bottom .container-inside {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-bottom .container-inside .inside {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-bottom .container-inside .inside label {
    display: inline;
    font-size: 19px;
    margin-bottom: 8px;
    cursor: pointer;
    width: 90%;
    padding-left: 10px;
    color: rgb(55, 55, 55);
}

.container-bottom .container-inside .inside input {
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 10%;
    justify-content: left;
    cursor: pointer;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}


.blog-form form textarea {
    height: 200px;
    resize: none;
}

.blog-form form .button-input {
    text-align: right;
}

.blog-form form button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: rgb(52, 52, 52);
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.blog hr {
    border: 1px solid rgb(161, 161, 161);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* render blog */
.blog .blog-list {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Added gap for consistent spacing */
    justify-content: center; /* Center align the items */
}

.blog .blog-list h1 {
    justify-content: center;
    align-items: center;
}

.blog .blog-list .blog-list-items {
    padding: 8px;
    border: 3px solid rgb(228, 228, 228);
    border-radius: 10px;
    width: calc(100% - 1rem); /* Adjusted width */
    max-width: 400px;
    height: 500px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog .blog-list .blog-list-items .blog-content {
    display: flex;
    flex-direction: column;
}

.blog .blog-list .blog-list-items .blog-content a{
    text-decoration: none;
    color: black;;
}

.blog .blog-list .blog-content .languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.blog .blog-list .blog-content .languages img {
    width: 20px; 
    height: 20px; 
}

.blog .blog-list .blog-list-items .blog-image {
    display: flex;
    height: auto;
    flex: 1;
}

.blog .blog-list .blog-list-items .blog-image img {
    width: 100%;
    height: 200px; /* Adjusted height */
    object-fit: cover;
    border-radius: 10px; /* Added border-radius for images */
}

.blog .blog-list .blog-list-items .blog-content {
    flex: 2;
}

.blog .blog-list .languages img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.blog .blog-list .blog-content .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.blog .blog-list .btn-group button {
    border: 0;
    border-radius: 10px;
    background: #202020;
    color: white;
    flex-grow: 1;
    margin: 0 5px;
    height: 20px;
}

.blog .blog-list .blog-list-items .blog-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.blog .blog-list p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.blog .blog-list-items .btn-group {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .blog .blog-list .blog-list-items {
        width: calc(50% - 1rem); /* Adjusted width for medium screens */
    }
}

@media screen and (max-width: 480px) {
    .blog .blog-list .blog-list-items {
        width: 100%;
    }
}

/* Detail-Blog */
.blog-detail {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-detail-container {
    width: 80%;
    margin: 40px 0;
}

.blog-detail-container h1{
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 10px;
}

.blog-detail-container .author{
    margin-top: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    text-align: justify;
}

.blog-detail-container p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    text-align: justify;
}